.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.grid {
	padding: 5vw;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 5vh;
}

.grid > img {
	max-width: 90vw;
	box-shadow: 1px 1px 10px 5px #ddd;
	border-radius: 0.5vw;
}
.grid > section {
	border-radius: 0.5vw;
	padding: 2vw;
	box-shadow: 5px 5px 10px 5px #ddd;
	max-width: 80vw;
}

.grid > section > p {
	font-size: 5vw;
	text-align: center;
}

.grid > section > p > a {
	word-wrap: break-word;
}
