.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.grid {
	padding: 5vw;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 5vh;
}

.grid > img {
	max-width: 90vw;
	box-shadow: 1px 1px 10px 5px #ddd;
	border-radius: 0.5vw;
}
.grid > section {
	border-radius: 0.5vw;
	padding: 2vw;
	box-shadow: 5px 5px 10px 5px #ddd;
	max-width: 90vw;
}

.grid > section > p {
	font-size: 5vw;
	text-align: center;
}

.grid > section > p > a {
	word-wrap: break-word;
}

@media only screen and (min-width: 768px) {
	.grid > img {
		min-width: 50vw;
	}
	.grid > section {
		min-width: 50vw;
	}

	.grid > section > p {
		font-size: 2vmin;
	}
}
